doctype html
html(lang="en")
head
    title= "Task Details"
    script(type='text/javascript', src='/javascripts/t.js')
body  
    a(href='../add.html') add
    for item in results
      div
        li Dish: #{item.Dish}
        li Ingredient: #{item.Ingredient}
        a(href='/'+`${item._id}`) view
        li